
@{
    ViewData["Title"] = "PassViewBag";
}


<h1>PassViewData</h1>
<h4>Rand value : @ViewBag.data.first</h4>
<h4>Rand value : @ViewBag.data.second</h4>
<h4>Add :</h4>
<div>@ViewBag.data.first + @ViewBag.data.second = @ViewBag.data.add</div>
<h4>Sub :</h4>
<div>@ViewBag.data.first - @ViewBag.data.second = @ViewBag.data.sub</div>
<h4>Mult :</h4>
<div>@ViewBag.data.first * @ViewBag.data.second = @ViewBag.data.mult</div>
<h4>Div :</h4>
<div>@ViewBag.data.first / @ViewBag.data.second = @ViewBag.data.div</div>
